
@{
    ViewData["Title"] = "Measurements";
}

<h1>Добро пожаловать!</h1>

<p>
    Перед Вами приложение для автоматического построения выкроек. 
</p>
<p>
    Чтобы построить выкройку, нажмите "Ввод параметров". Откроется страница с формой для каждого параметра.
    Вам нужно заполнить все поля целыми числами, которые соответствуют Вашим индивидуальным меркам.
    После этого, нажмите кнопку "Подтвердить". Если все параметры введены верно, то откроется страница с готовой выкройкой.
    Ее можно экспортировать при нажатии на кнопку "Экспортировать".
</p>

